<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Document</title>
</head>
<body>
  <h1>Hello this is the dummy mail from the nestjs project. Happy Coding 🤞</h1>
  
</body>
</html>